{{!--
    Parameters:
    * showFeatured (true, false)
    * showCategories (true, false)
    * showRecommendations (true, false)
--}}
<aside class="gh-sidebar">
    <div class="gh-sidebar-inner">
        <section class="gh-about">
            {{#if @site.icon}}
                <img class="gh-about-icon" src="{{@site.icon}}" alt="{{@site.title}}" loading="lazy">
            {{/if}}
            <h3 class="gh-about-title is-title">{{@site.title}}</h3>
            {{#if @site.description}}
                <p class="gh-about-description is-body">{{@site.description}}</p>
            {{/if}}
                {{#if @site.members_enabled}}
                    {{#unless @member}}
                        <button class="gh-button" data-portal="signup">Subscribe</button>
                    {{else}}
                        {{#if @site.paid_members_enabled}}
                            {{#unless @member.paid}}
                                <button class="gh-button" data-portal="upgrade">Upgrade</button>
                            {{/unless}}
                        {{/if}}
                {{/unless}}
            {{/if}}
        </section>

        <!-- Featured -->
        {{#if showFeatured}}
            <section class="gh-recommendations">
                <h4 class="gh-sidebar-title">Featured</h4>
                <ul class="!list-none">
                    {{#get "posts" filter="featured:true" limit=5}}
                        {{#foreach posts}}
                            <li>➤&nbsp;<a href="{{url}}">
                                {{title}}
                            </a></li>
                        {{/foreach}}
                    {{/get}}
                    <li>➤&nbsp;<a href="/all-articles">All Articles</a></li>
                </ul>
            </section>
        {{/if}}

        <!-- Categories -->
        {{#if showCategories}}
            <section class="gh-recommendations">
                <h4 class="gh-sidebar-title">Categories</h4>
                <ul class="!list-none">
                    <li>➤&nbsp;<a href="/tag/personal-knowledge-management">Personal Knowledge Management</a></li>
                    <li>➤&nbsp;<a href="/tag/obsidian">Obsidian</a></li>
                    <li>➤&nbsp;<a href="/tag/knowledge-work">Knowledge Work</a></li>
                    <li>➤&nbsp;<a href="/tag/learning">Learning</a></li>
                    <li>➤&nbsp;<a href="/tag/personal-development">Personal Development</a></li>
                    <li>➤&nbsp;<a href="/tag/mental-health">Mental Health</a></li>
                    <li>➤&nbsp;<a href="/tag/productivity">Productivity</a></li>
                    <li>➤&nbsp;<a href="/tag/personal-organization">Personal Organization</a></li>
                    <li>➤&nbsp;<a href="/all-tags">All Tags</a></li>
                </ul>
            </section>
        {{/if}}

        <!-- Recommendations -->
        {{#if showRecommendations}}
            <section class="gh-recommendations">
                <h4 class="gh-sidebar-title">Recommendations</h4>
                {{recommendations}}
                <button data-portal="recommendations">See all {{> "icons/arrow"}}</button>
            </section>
        {{/if}}
    </div>
</aside>