{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<main class="gh-main gh-outer all-articles-page">
        {{#get "posts" filter="tag:blog" include="tags" limit="all" order="published_at desc"}}
        <header class="!mt-24 gh-article-header gh-canvas hero">
            <h1 class="gh-article-title is-title text-center text-4xl font-bold">
                All Articles ✍️
            </h1>
            <p class="text-4xl leading-relaxed max-w-4xl break-words text-center">{{posts.length}} articles and counting... 🎉</p>
        </header>

        <section class="gh-content gh-canvas is-body">
        {{#if posts}}
            <ul class="!mx-8 space-y-8 !list-decimal text-2xl">
                {{#foreach posts}}
                    <li class="border-b border-gray-200 py-8">
                        <article>
                            <h2 class="text-2xl font-semibold !mb-2">
                                <a href="{{url}}" class="capitalize">{{title}}</a>
                            </h2>
                            
                            {{#if excerpt}}
                                <p class="text-gray-600">{{excerpt}}</p>
                            {{/if}}
                            
                            <div class="!mt-8 text-md text-gray-500">
                                <div>
                                    <time datetime="{{date format="YYYY-MM-DD"}}">
                                        {{date format="MMMM DD, YYYY"}}
                                    </time>
                                </div>

                                {{#if tags}}
                                    <div class="mt-2">    
                                        <span>Tags:&nbsp;</span>
                                        {{#foreach tags}}
                                            <a href="{{url}}" class="hover:text-primary transition-colors capitalize">{{name}}</a>{{#unless @last}},&nbsp;{{/unless}}
                                        {{/foreach}}
                                    </div>
                                {{/if}}
                            </div>
                        </article>
                    </li>
                {{/foreach}}
            </ul>
        {{else}}
            <p class="text-gray-600">No articles found.</p>
        {{/if}}
        </section>
    {{/get}}
</main> 